*{ /* Fixed text across the whole document */
    font-family: 'Roboto', Calibri, 'Verdana', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

html, body{
    margin: 0;
    height: 100%;
    /*sets the bg color of the webpage*/
    /*padding: 150px 0 0; sets the start of the body */
}

body {
    background-image: url(/assets/images/Abstract_Texture_Set_v1/Metal_tex3.1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

.list, .item, .item:visited , .item:link, .item:active{
    text-decoration: none;
    color: var(--main-nav-footer-colors);
    font-size: 14px;
}

/*hr {
    position: relative;
    bottom: 7%;
    width: 50%;
    margin: 0 auto;
}*/

.header{ /*header has been fixed to the top of the page, 3 links */
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: right;
    width: 100%;
    padding: 20px 10%;
    height: auto;
    max-height: 200px;
    top:0;
    margin: 0;
    border: 0;
}

.navLinks {
    
    list-style: none;
    z-index: 9999;
    padding: 0px;
    border: 0px;
}

.header nav ul li {
    
    padding-right: 30px;
    display: flex;
    display: inline-block;
    border: 30px;
}

.navLinks .item {
    transition: all 0.3s ease 0s;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: black;
    cursor: default;
}

.navLinks .item:hover {
    color: black;
    background-color: white;   
    font-weight: bold;
}

.logo {
    min-width: 150px ;
    width: 150px;
    padding: 0px;
    border: 0px;
    position: relative;
    right:12%;
    top: -65px;
}

#intro{
    display: flex;
    padding: 0px 10%;
    color: rgb(230, 230, 230);
    flex-direction: column;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: rgb(0, 0, 0, 0.6);

    min-width: none;
    text-overflow: ellipsis;
}

#intro .name, .title {
    padding-top: 0px;
    border: 0px;
    margin: 0px;
    position: relative;
    top: -85px;
    right: 10%;
    align-self: flex-start;

    
}
#intro .title {
    font-weight: lighter; 
}


#intro .introduction {
    max-height: 33px;
    max-width: 240px;
    border: 0px;
    padding: 0px;
    margin-left: auto;
    margin-bottom: auto;
    list-style: none;
    position: relative;
    bottom: -50%;
    left: 10%;
    font-size: 14px;   
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    
}


#projects, #illustration {
    display: flex;
    align-content: flex-start;
    flex-flow: wrap;
    padding: 0px 5%;
    margin: 0;
    border: 0;
    color: rgba(209, 209, 209, 0.6);
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 800px;
    background-color: rgb(0, 0, 0, 0.6);
    gap: 1%;
}

/*
.card a{
    position:relative;
    right: 600px;
}

.card1 a{
    position:relative;
    right: 1785px;

    border-style: dotted;
    border-color: aquamarine;
    border-width: 2px; 
}
*/

#projects h2, #illustration h2 {
    color: rgb(230, 230, 230);
    flex: 1 0 60%;
    font-weight: lighter;
    padding-bottom: 10px;
    padding: 50px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card1 {
    display: flex;
    flex: 1 0 100%;
    height: 200px;
    flex-direction:column;
    flex-wrap: wrap;
    background-color: rgba(215, 215, 215, 0.6);
    filter:brightness(0.3);
    min-width: 0;
}

.card { /*Doing this really helps contain and visualize the boxes*/
    display: flex;
    flex: 1 0 20%;
    height: 150px;
    flex-direction:column;
    flex-wrap: wrap;
    background-color: rgba(215, 215, 215, 0.6);
    filter:brightness(0.3);
    min-width: 0;
}


#projects .card1 .thumbnail, #illustration .card1 .thumbnail {   
    height: 200px;
    width: 400px;
    flex: 1 0 100%;
    object-fit: cover;
    
}

.card .card-header, .card1 .card-header{
    margin: 0;
    border: 0;
    padding-left: 10px;
    padding-top: 10px;
    width: 70%;
    flex: 1 0 20%;
    align-items: center;
    color: rgba(215, 215, 215, 0.8);
    background-color: rgb(0, 0, 0, 0.8);
    font-weight: lighter;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card p, .card1 p {
    flex: 1 0 70%;
    width: auto;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-top: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 14px;
    font-style: italic;
}

#projects .card .thumbnail, #illustration .card .thumbnail {   
    height: 150px;
    width: 200px;
    flex: 1 0 100%;
    object-fit: cover;
    margin: 0;  
}

.card:hover, .card1:hover {
    border-style: solid;
    border-width: 2px;
    filter:brightness(1);
    background: linear-gradient(90deg, rgba(215, 215, 215, 1) 70% , rgba(215, 215, 215, 0.05) 100%);
    transition: all 0.2s ease 0s;
}



footer {
    display:flex;
    flex-direction: column;
    width: 100%;
    color: var(--main-nav-footer-colors);
    background-color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    position:fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

footer .socialMedia {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 2%;
    background-color: rgb(19, 19, 19);
    width: 100%;
    justify-content: center ;
    text-align: center;
}

footer .socialMedia img {
    max-width: 50%;
    height: auto;
    filter: invert(0.75);
}

footer .socialMedia img:hover {
    filter: invert(1);
}

footer #misc {
    padding: 10px;
}

footer h3, h4, h5 {
    font-size: smaller;
    font-weight: lighter;
}

@media only screen and (max-width: 992px) {
    .header{
        padding-right: 0%;
    }

    #navBar ul li {
        width: 33%;
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }

    #intro .introduction {
        bottom: -45%; 
        margin-bottom: auto;
    }

    #intro h1, h2 {
        top: -145px;
    }

    .logo {
        top: -120px;
    }

    #intro .name, .title {
        margin-left: 2%;
        top: -150px;
    }
  }

/*Once width of the screen goes under 768px do this*/
@media only screen and (max-width: 768px) {
    .header ul li{ /*header has been fixed to the top of the page, 3 links */
        flex: 1 0 50%;
    }
    #intro .name, .title {
        margin-left: 2%;
    }
    .header .navLinks {
        margin-left: 40%;
        
        /*border-width: 2px;
        border-color: aliceblue;
        border-style: solid;*/
    }
    .card { /*Doing this really helps contain and visualize the boxes*/
        flex: 1 0 100%;
    }
}